<h2> <%= @recipe.title %></h2>
<p><%= link_to @recipe.title, recipe_path(@recipe) %></p>

<h3>Ingredients</h2>

<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= "#{ingredient.name} X #{ingredient.quantity}" %></li>
<% end %>
</ul>
